<!DOCTYPE html>
<html>
<head>
   <script src="./js/doctor.js"></script>
   <link rel="stylesheet" href="./css/doctor.css">
   <title>Doctor</title>
</head>
<body>
    <div id="doctor-info">
      <%var row = rows[0]%>
        <h1><%=row.doc_name%></h1>
        <p>ID: <%=row.doc_id%></p>
        <p>Age: <%=row.doc_age%></p>
        <p>Specialization: <%=row.doc_spec%></p>
    </div>

    <div id="search-container">
        <input type="text" id="search-box" placeholder="Enter patient id">
        <button onclick="addPatient()" id="search-button">Search</button><br><br>
        <button onclick="addPresc()" id="search-button">Prescribe</button>
    </div>

    <table id="patient-table">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>
                           <% rows.forEach(function(row) { %>
                              <tr>
                                  <td><%= row.pat_id %></td>
                                  <td><%= row.pat_name %></td>
                                  <td><%= row.pat_age %></td>
                                  <td><%= row.pat_sex %></td>
                              </tr><br>
                              <% }); %>
                         </tbody>
                      </table>
                     </main>
               </section>
        </div>
      </form>
   </div> 

   <div class = "overlay" id = "add_pat_overlay">
      <div class = "patient_add" id = "patient_add" >
         <h3>Add patient</h3><br>
         <form action="/insert_pat_by_doc" id = "patient_form" method="post">
            <input type="number" id="id" name="pat_id" placeholder="Id:" required ><br><br>
            <input type="text" id="name" placeholder="Name: " name="pat_name"><br><br>
            <input type="number" id="age" placeholder="Age:" name="pat_age"><br><br>   
            <input type="text" id="sex" placeholder="Sex:" name="pat_sex"><br><br>
            <button class="submit" type="submit">Submit</button>
            <button type = "reset" onclick="closePatWindow()">Cancel</button>
         </form>
      </div>
   </div>

   <div class = "overlay" id = "add_presc_overlay">
      <div class = "patient_add" id = "presc_add" >
         <h3>Prescribe medicines</h3>
         
         <form action="/prescribe" id = "presc_form" method="post">
            <label for="presc_list">Prescription Id:</label>
            <select name="presc_list" id ="presc_list"> 
               <% meds.forEach(function(med){%>
               <option><%=med.presc_id%></option>
               <% }); %>
            </select>   
               <br><br>
            
            <label for="id_list">Patient Id:</label>
            <select name="id_list" id ="id_list"> 
               <% pats.forEach(function(pat) {%>
               <option><%=pat.pat_id%></option>
               <% }); %>
            </select>   
            <br><br>
            <label for="prec_doc_id">Doctor ID:</label>
            <input type="number" id="presc_doc_id" name="presc_doc_id" value = "<%=rows[0].doc_id%>"required><br><br>
            
            <label for="amount">Dosage: </label>
            <input type="number" id="amount" name="amount" required><br><br>

            <label for="pat_presc_date">Prescription Date: </label>
            <input type="text" id="pat_presc_date" name="pat_presc_date" required><br><br>
            
            <button class="submit" type="submit">Submit</button>
            <button type = "reset" onclick="closePrescWindow()">Cancel</button>
         </form>
      </div>
   </div>
   </body>
</html>