<!DOCTYPE html>
<html>
  <head>
    <script src="./js/pharma_page.js"></script>
    <title>Pharmacist</title>
    <link rel="stylesheet" href="./css/pharma.css">
  </head>
  <body>
    <h2>Patient ID</h2>
    <div class="search-container">
      <form action="/search_pat" method="post">
        <input
          type="text"
          class="search-input"
          name="pat_id"
          placeholder="ID"
        />
        <button class="search-button" type="submit">Search</button>
      </form>
    <br>
    </div>
    <% if (rows != undefined) { %>
        <div>
            <h3><%=rows[0].pat_name%></h3>
            <label> Id: <%= rows[0].pat_id%></label><br>
            <label> Date of Birth: <%= rows[0].pat_date %></label><br>
            <label> Sex: <%= rows[0].pat_sex%></label><br>
            <br><br>
            <thead>
                <tr>
                   <th>Doctor Id</th>
                   <th>Prescription Id</th>
                   <th>Prescription Name</th>
                   <th>Prescription Date</th>
                   <th>Amount</th>
                </tr><br>
            </thead>
            <tbody>
                <% rows.forEach(function(row) { %>
                <tr>
                    <td><%= row.doc_id %></td>
                    <td><%= row.presc_id %></td>
                    <td><%= row.presc_name %></td>
                    <td><%= row.presc_date %></td>
                    <td><%= row.amount %></td>
                    <td><button type="button" onclick="sendHello(<%=row.pat_id%>, <%=row.presc_id%>)" id = "<%=row.presc_id %>" >Prescribe</button></td>
                </tr><br>
                <% }); %>
            </tbody>
         </table>
        </div>
    <% } %>
  </body>
</html>
